:root {
  --bg-color: #fff;
  --text-color: #000;
  --event-text-color: #6d0101;
}

body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Cambria', 'Times New Roman', Times, serif;
  /* background-color: rosybrown; */
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr 6px 2fr;
  grid-template-columns: 1fr;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  position: relative;

  grid-row: 1 / 2;

  .logo {
    height: 60px;
  }

  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;

    font-size: 32px;
  }

  .credits {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;

    a {
      display: inline-flex;
      align-items: center;
    }

    .credits-icon {
      height: 18px;
      object-fit: contain;
    }
  }
}

#timeline-container {
  position: relative;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  padding: 0 40px;

  grid-row: 2 / 5;

  display: grid;
  grid-template-rows: subgrid;

  /* Central line */
  .year-line {
    grid-row: 2 / 3;

    /* see the grid template */
    height: 100%;
    background-color: var(--text-color);
    z-index: 1;
  }

  .ages-area {
    grid-row: 1 / 2;
    position: relative;

    display: flex;
    align-items: flex-end;
  }

  .age-cover {
    height: 150px;

    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 5px;

    container-type: size;

    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: #000 0.5px;

    .age-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover;
      background-position: center;
      z-index: -1;

      /* Make the overlay slightly tinted */
      background-color: color(from var(--event-text-color) srgb r g b / 0.8);
      background-blend-mode: multiply;
      filter: brightness(0.8);
    }

    .age-name {
      /* font-size: 35px; */
      font-size: clamp(12px, 15cqw, 35px);
      color: var(--event-text-color);
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
    }

    .age-meta {
      font-size: 18px;
      color: white;
    }

    .age-items {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      flex-wrap: nowrap;

      .age-item {
        /* height: 60px; */
        width: 24px;
        object-fit: contain;
        display: block;

        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .events-area {
    grid-row: 3 / 4;
    position: relative;
  }

  .event-group,
  .year-group {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  .year-group {
    z-index: 5;

    .year-marker {
      width: 4px;
      background-color: #d44;
    }

    .year-label {
      font-weight: bold;
      color: var(--text-color);
      background-color: var(--bg-color);
    }
  }

  .event-group {
    &.major-event {
      flex-direction: column-reverse;

      .event-marker {
        width: 4px;
        height: 150px;
      }

      .event-label {
        font-size: 10px;
        font-weight: bold;

        max-width: 120px;
        margin-bottom: 4px;
      }
    }

    .event-marker {
      width: 2px;
      color: var(--text-color);
      background-color: var(--text-color);

      position: relative;
      z-index: 1;
    }

    .event-label {
      font-size: 8px;

      max-width: 70px;

      color: var(--event-text-color);
      background-color: var(--bg-color);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;

      position: relative;
      z-index: 2;
    }
  }
}